/* Font inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Inter", sans-serif;

}

/* navbar design */
nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1A0B2E;
    max-width: 1600px;
    margin: 0 auto;
}

.nav-image img {
    height: 32px;
    width: 219px;
    margin: 30px 0px;
}

.nav-menu {
    display: flex;
    align-items: center;
    /* margin-left: 314px; */
    gap: 32px;
}

/* button */

.btn-primary {
    display: flex;
    align-items: center;
    background: linear-gradient(45deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    gap: 4px;
    width: 135px;
    height: 44px;
    border-radius: 1000px;
    border: none;


}

.btn-primary img {
    width: 20px;
    height: 20px;
}

.btn-primary:hover .arrow {
    transform: translate(10px);
    transition: 0.3s ease-in-out;

}

.btn-primary:hover {
    transform: translate(5px);
    transition: 0.5s ease-in-out;
    background: blue;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid white;
}

/* banner section */

.banner-section {
    background: url('./assets/hero-bg.png') no-repeat center center;
    background-size: cover;
    height: 760px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1600px;
    margin: 0 auto;

}

.banner-container {
    width: 550px;
}

.icon-wrap {
    height: 350px;
    width: 350px;
    margin: 0 auto;
    background-image: url(./assets/hero-circle.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.mic {
    width: 116.67px;
    height: 175px;
    margin: 77px 116.67px 97.67px 116.67px;

}

.badge {
    position: absolute;
    top: 40px;
    right: 20px;
    background: #00FF88;
    color: #1A0B2E;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 1000px;


}

.text-content h1 {
    margin-top: 40px;
    margin-bottom: 8px;
    font-size: 60px;
    font-weight: 800;

}

.text-content p {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.8;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap: 8px;

}

.btn-spotify {
    display: flex;
    gap: 8px;
    width: 201px;
    background: linear-gradient(45deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    text-align: center;
    border: none;

}


.btn-subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 147px;
    gap: 8px;
    border: 1px solid #00FF88;
}

.btn-subscribe,
.btn-spotify {
    padding: 12px 20px;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 600;
}

.btn-spotify {
    gap: 8px;
    width: 201px;
}

.btn-subscribe {
    color: #00FF88;
    width: 147px;
    gap: 8px;
    background: transparent;

}

/* button hover for spotify and subscribe */
.btn-spotify:hover,
.btn-subscribe:hover {
    background: blue;
    color: white;
    transform: translate(10px);
    transition: 0.5s ease-in-out;
    border: 2px solid white;
    filter: brightness(1.5);
}

/* about-section */
.about-section {
    background-color: #1A0B2E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1600px;
}

.about-section h1 {
    margin-top: 50px;
    margin-bottom: 16px;
    font-size: 48px;
    font-weight: bold;
}

.about-description p {
    margin-bottom: 80px;
    line-height: 20px;
    opacity: 0.8;
    max-width: 1200px;
    font-size: 16px;
    font-weight: 400;

}

hr {
    border: 1px solid white;
    width: 1200px;
    opacity: 0.1;
    margin-bottom: 80px;
}

.showcase-container {
    display: flex;
    gap: 80px;

}

.showcase-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.showcase-content p {
    text-transform: uppercase;
    opacity: 0.8;
}

.showcase-title {
    font-size: 48px;
    font-weight: 900;
    color: #00FF88;

}

.showcase-text {
    margin-bottom: 120px;
}

/* Why choose techwave section */

.whychoose-techwave {
    background-color: #230E3D;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 120px 200px;
}

.whychoose-techwave .heading h1 {
    margin-bottom: 40px;
}

/* card container */

.card-container {
    max-width: 1200px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);

}

.inner-container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: flex-start;
    text-align: left;
    gap: 16px;

}

.cards1,
.cards2,
.cards3,
.cards4,
.cards5 {
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;

}

.cards1 p,
.cards2 p,
.cards3 p,
.cards4 p,
.cards5 p {

    font-size: 16px;
    font-weight: 400;
    opacity: 0.6;
    line-height: 24px;
}


.cards1 img {
    margin-top: 67.5px;
}

.cards1 {

    grid-row: span 2;
    height: 480px;
}

.cards2 {
    height: 225px;
    grid-column: span 2;

}

.cards3 {
    height: 225px;

    grid-column: span 2;

}

.cards4 {
    height: 273px;

    grid-column: span 2;
}

.cards5 {
    height: 273px;

    grid-column: span 1;
}

.cards4 img {
    width: 55px;
    height: 50px;
}