/* Font inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Universal selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Inter", sans-serif;

}

/* navbar design */
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1A0B2E;
    max-width: 1600px;
    margin: 0 auto;
}
.nav-image img{
    height: 32px;
    width: 219px;
    margin: 30px 0px;
}
.nav-menu{
    display: flex;
    align-items: center;
    /* margin-left: 314px; */
    gap: 32px;
}

/* button */

.btn-primary {
    display: flex;
    align-items: center;
    background: linear-gradient(45deg,#F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    font-size: 16px;
    font-weight: 600;
    padding:12px 16px;
    gap: 4px;
    width: 135px;
    height: 44px;
    border-radius: 1000px;
    border: none;


}
.btn-primary img{
    width: 20px;
    height: 20px;
}
.btn-primary:hover .arrow{
    transform:translate(10px);
    transition: 0.3s ease-in-out;

}
 
.btn-primary:hover {
    transform: translate(5px);
    transition: 0.5s ease-in-out;
    background: blue;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid white;
}

/* banner section */

.banner-section{
    background: url('./assets/hero-bg.png') no-repeat center center;
    background-size: cover;
    height: 760px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1600px;
    margin: 0 auto;
    
}

.banner-container{
     width: 550px;
}

.icon-wrap{
    height: 350px;
    width: 350px;
    margin: 0 auto;
    background-image: url(./assets/hero-circle.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.mic{
    width: 116.67px;
    height: 175px;
    margin: 77px 116.67px 97.67px 116.67px;
    
}

.badge{
    position: absolute;
    top: 40px;
    right: 20px;
    background: #00FF88;
    color:#1A0B2E;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 1000px;


} 
.text-content h1{
    margin-top: 40px;
    margin-bottom: 8px;
    font-size: 60px;
    font-weight: 800;

}

.text-content p{
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
}

.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap: 8px;
   
}

.btn-spotify{
    display: flex;
    gap: 8px;
    width: 201px;
    background: linear-gradient(45deg,#F7E93F 0%, #FB09B4 51%, #9100F8 100%);
   text-align: center;
   border: none;

}


.btn-subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 147px;
    gap: 8px;
    border: 1px solid #00FF88;
}

.btn-subscribe, .btn-spotify{
    padding: 12px 20px;
    border-radius: 1000px;
     font-size: 16px;
    font-weight: 600;
}
.btn-spotify{
    gap: 8px;
    width: 201px;
}
.btn-subscribe{
    color: #00FF88;
   width: 147px;
   gap: 8px;
background: transparent;

} 

/* button hover for spotify and subscribe */
.btn-spotify:hover, .btn-subscribe:hover{
    background: blue;
    color: white;
    transform:translate(10px);
    transition: 0.5s ease-in-out;
    border: 2px solid white;
    filter: brightness(1.5);
}
